body {
    margin: 0px;  
  }
  
  #wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #5FB791;
  }
  
  #timer-container {
    display: grid;
    grid-template-areas:
      "header"
      "controls"
      "clock"
      "start";
    text-align: center;
    width: 500px;
    margin: 0 2% 0 2%;
  }
  
  #header-area{
    padding-top: 5%;
    grid-area: header;
    background-color: #2A5F3A;
    color: #ffffff;
    border: 2px solid #2A5F3A;
    border-radius: 20px 20px 0px 0px;
  }
  
  #controls-area {
    display: flex;
    justify-content: center;
    background-color: #ABE6BD;
    color: #2A5F3A;
    padding: 0em 0 1em 0;
  }
  
  #break-label {
    width: 50%;
  }
  
  i {
    color: #2A5F3A;
    font-size: 2em;
    padding: 0 2% 0 2%;
  }
  
  #session-label {
    width: 50%;
  }
  
  #timer-face {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
  }
  
  #circle {
    border:3px solid #2A5F3A;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    color: #2A5F3A;
  }
  
  #timer-start-stop {
    grid-area: start;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 3%;
  }
  
  
  